= render "items/sell_header"
.done_purchase
  .done_purchase__content
    .done_purchase__content__title
      %h1 購入が完了しました
    .done_purchase__content__return
      = link_to "トップに戻る",root_path
= render "items/sell_footer"