.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      = title
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div
      %ul.TP__main__content__list__element__label__photo
        %li.TP__main__content__list__element__label__photo__one
          %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
            %a.TP__main__content__list__element__label__photo__one__link{href: "#"}
              %figure.TP__main__content__list__element__label__photo__one__link__figure
                %figcaption
                  %span 
                    = text
                .TP__main__content__list__element__label__photo__one__link__figure__price
                  %span{"aria-label" => "Price"} 
                    = price
                  %img{alt:"", src: "/assets/logo_white.png"}
          