.item-list.item-list-a
  .item-list__element.item-list__element-a
    .item-scloll.item-scloll-a.item-scloll-2.item-scloll-b{:name => "scroll-1"}
      %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.list-title.list-title-a 
    = title
    %a.item-list__link.item-list__link-a{href: "#"} もっと見る
    .itemcontent.itemcontent-a
      %div
        %ul.item-content__list.item-content__list-a
          %li.list__element
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.style_link__3tLB3.style_fluidLink__WTcwb{href: "#"}
                %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                  %figcaption
                    %span 
                  .item-money
                    %span{"aria-label" => "Price"} 
                    %img{alt:" ", src: "#"}
          