%ul.TP__header__content__bottom__tag__list
  %li.TP__header__content__bottom__tag__list__category
    = link_to "#"do
      カテゴリから探す
    %ul.TP__header__content__bottom__tag__list__category__children
      %li
        %a{:href => "#"} レディース
        %ul.TP__header__content__bottom__tag__list__category__children__grandchild
          %li
            %a{:href => "#"} トップス
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} Tシャツ/カットソー（半袖/袖なし）
              %li
                %a{:href => "#"} Tシャツ/カットソー (七分袖/長袖)
              %li
                %a{:href => "#"} シャツ/ブラウス (半袖/袖なし)
              %li
                %a{:href => "#"} シャツ/ブラウス (七分袖/長袖)
              %li
                %a{:href => "#"} ポロシャツ
              %li
                %a{:href => "#"} キャミソール
              %li
                %a{:href => "#"} タンクトップ
              %li
                %a{:href => "#"} ホルターネック
              %li
                %a{:href => "#"} ニット／セーター
              %li
                %a{:href => "#"} チュニック
              %li
                %a{:href => "#"} カーディガン/ボレロ
              %li
                %a{:href => "#"} アンサンブル
              %li
                %a{:href => "#"} ベスト／ジレ
              %li
                %a{:href => "#"} パーカー
          %li
            %a{:href => "#"} ジャケット/アウター
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} テーラージャケット
              %li
                %a{:href => "#"} ノーカラージャケット
              %li
                %a{:href => "#"} Gジャン/デニムジャケット
              %li
                %a{:href => "#"} レザージャケット
              %li
                %a{:href => "#"} ダウンジャケット
              %li
                %a{:href => "#"} ライダースジャケット
              %li
                %a{:href => "#"} ミリタリージャケット
              %li
                %a{:href => "#"} ダウンベスト
              %li
                %a{:href => "#"} ジャンパー/ブルゾン
              %li
                %a{:href => "#"} ポンチョ
              %li
                %a{:href => "#"} ロングコート
              %li
                %a{:href => "#"} トレンチコート
              %li
                %a{:href => "#"} ダッフルコート
              %li
                %a{:href => "#"} ピーコート
          %li
            %a{:href => "#"} パンツ
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} デニム/ジーンズ
              %li
                %a{:href => "#"} ショートパンツ
              %li
                %a{:href => "#"} カジュアルパンツ
              %li
                %a{:href => "#"} ハーフパンツ
              %li
                %a{:href => "#"} チノパン
              %li
                %a{:href => "#"} ワークパンツ/カーゴパンツ
              %li
                %a{:href => "#"} クロップドパンツ
              %li
                %a{:href => "#"} サロペット/オーバーオール
              %li
                %a{:href => "#"} オールインワン
              %li
                %a{:href => "#"} サルエルパンツ
              %li
                %a{:href => "#"} ガウチョパンツ
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} スカート
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ミニスカート
              %li
                %a{:href => "#"} ひざ丈スカート
              %li
                %a{:href => "#"} ロングスカート
              %li
                %a{:href => "#"} キュロット
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} ワンピース
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ミニワンピース
              %li
                %a{:href => "#"} ひざ丈ワンピース
              %li
                %a{:href => "#"} ロングワンピース
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 靴
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ハイヒール/パンプス
              %li
                %a{:href => "#"} ブーツ
              %li
                %a{:href => "#"} サンダル
              %li
                %a{:href => "#"} スニーカー
              %li
                %a{:href => "#"} ミュール
              %li
                %a{:href => "#"} モカシン
              %li
                %a{:href => "#"} ローファー/革靴
              %li
                %a{:href => "#"} フラットシューズ/バレエシューズ
              %li
                %a{:href => "#"} 長靴/レインシューズ
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} ルームウェア/パジャマ
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} パジャマ
              %li
                %a{:href => "#"} ルームウェア
          %li
            %a{:href => "#"} レッグウェア
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ソックス
              %li
                %a{:href => "#"} スパッツ/レギンス
              %li
                %a{:href => "#"} ストッキング/タイツ
              %li
                %a{:href => "#"} レッグウォーマー
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 帽子
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ニットキャップ/ビーニー
              %li
                %a{:href => "#"} ハット
              %li
                %a{:href => "#"} ハンチング/ベレー帽
              %li
                %a{:href => "#"} キャップ
              %li
                %a{:href => "#"} キャスケット
              %li
                %a{:href => "#"} 麦わら帽子
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} バッグ
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ハンドバッグ
              %li
                %a{:href => "#"} トートバッグ
              %li
                %a{:href => "#"} エコバッグ
              %li
                %a{:href => "#"} リュック/バックパック
              %li
                %a{:href => "#"} ボストンバッグ
              %li
                %a{:href => "#"} スポーツバッグ
              %li
                %a{:href => "#"} ショルダーバッグ
              %li
                %a{:href => "#"} クラッチバッグ
              %li
                %a{:href => "#"} ポーチ/バニティ
              %li
                %a{:href => "#"} ボディバッグ/ウェストバッグ
              %li
                %a{:href => "#"} マザーズバッグ
              %li
                %a{:href => "#"} メッセンジャーバッグ
              %li
                %a{:href => "#"} ビジネスバッグ
              %li
                %a{:href => "#"} 旅行用バッグ/キャリーバッグ
              %li
                %a{:href => "#"} ショップ袋
              %li
                %a{:href => "#"} 和装バッグ
              %li
                %a{:href => "#"} かごバッグ
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} アクセサリー
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ネックレス
              %li
                %a{:href => "#"} ブレスレット
              %li
                %a{:href => "#"} バングル/リストバンド
              %li
                %a{:href => "#"} リング
              %li
                %a{:href => "#"} ピアス(片耳用)
              %li
                %a{:href => "#"} ピアス(両耳用)
              %li
                %a{:href => "#"} イヤリング
              %li
                %a{:href => "#"} アンクレット
              %li
                %a{:href => "#"} ブローチ/コサージュ
              %li
                %a{:href => "#"} チャーム
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} ヘアアクセサリー
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} ヘアゴム/シュシュ
              %li
                %a{:href => "#"} ヘアバンド/カチューシャ
              %li
                %a{:href => "#"} ヘアピン
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 小物
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} 長財布
              %li
                %a{:href => "#"} 折り財布
              %li
                %a{:href => "#"} コインケース/小銭入れ
              %li
                %a{:href => "#"} 名刺入れ/定期入れ
              %li
                %a{:href => "#"} キーケース
              %li
                %a{:href => "#"} キーホルダー
              %li
                %a{:href => "#"} 手袋/アームカバー
              %li
                %a{:href => "#"} ハンカチ
              %li
                %a{:href => "#"} ベルト
              %li
                %a{:href => "#"} マフラー/ショール
              %li
                %a{:href => "#"} ストール/スヌード
              %li
                %a{:href => "#"} バンダナ/スカーフ
              %li
                %a{:href => "#"} ネックウォーマー
              %li
                %a{:href => "#"} サスペンダー
              %li
                %a{:href => "#"} サングラス/メガネ
              %li
                %a{:href => "#"} モバイルケース/カバー
              %li
                %a{:href => "#"} 手帳
              %li
                %a{:href => "#"} イヤマフラー
              %li
                %a{:href => "#"} 傘
              %li
                %a{:href => "#"} レインコート/ポンチョ
              %li
                %a{:href => "#"} ミラー
              %li
                %a{:href => "#"} タバコグッズ
              %li
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 時計
            %ul.TP__header__content__bottom__tag__list__category__children__grandchild__great-grandson
              %li
                %a{:href => "#"} 腕時計(アナログ)
              %li
                %a{:href => "#"} 腕時計(デジタル)
              %li
                %a{:href => "#"} ラバーベルト
              %li
                %a{:href => "#"} レザーベルト
              %li
                %a{:href => "#"} 金属ベルト
              %li
                %a{:href => "#"} その他
      %li
        %a{:href => "#"} メンズ
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} ベビー・キッズ
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} インテリア・住まい・・小物
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} 本・音楽・ゲーム
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} おもちゃ・ホビー・グッズ
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} コスメ・香水・美容
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} 家電・スマホ・カメラ
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} スポーツ・レジャー
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} ハンドメイド
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} チケット
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} 自動車・オートバイ
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} その他
        %ul
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
          %li
            %a{:href => "#"} submenu
      %li
        %a{:href => "#"} カテゴリー一覧
  %li.TP__header__content__bottom__tag__list__brand
    = link_to "#" do
      ブランドから探す
    %ul.TP__header__content__bottom__tag__list__brand__children
      %li
        %a{:href => "#"} シャネル
      %li
        %a{:href => "#"} ナイキ
      %li
        %a{:href => "#"} ルイ ヴィトン
      %li
        %a{:href => "#"} シュプリーム
      %li
        %a{:href => "#"} アディダス
      %li
        %a{:href => "#"} ブランド一覧