%li
  %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
    %figure
      %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
    .mypage-item-body
      .mypage-item-text 《メルペイスマート払い》なら今だけ最大3%還元！詳しくはこちら
      %time
        %i.icon-time
        %span 1 日前
    %i.icon-arrow-right