%li
  %a.mypage-item-link{href: "#"}
    -# %figure
    -#   %img.lazyload{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m95116896327_1.jpg?1574416234"}/
    .mypage-item-body
      .mypage-item-text
        = text
        を購入しました。
        %span 取引が完了しました
      .mypage-item-status.bold.done
        取引完了
    %i.icon-arrow-right