.UP__contents__right
  %section.UP__contents__right__icon
    %a.UP__contents__right__icon__box{href: "#"}
      %figure
        %img{alt: "", height: "60", src: "/assets/oldman_84.png", width: "60"}/
      %h2.UP__contents__right__icon__box__name.bold ダンブルドア
      .UP__contents__right__icon__box__number
        %div
          評価
          %span.bold 0
        %div
          出品数
          %span.bold 0
