.UP__contents__right
  .UP__contents__right__logout
    .UP__contents__right__logout__inner
      .UP__contents__right__logout__inner__content
        = link_to "ログアウト", destroy_user_session_path, class: "UP__contents__right__logout__inner__content__btn btn-red", method: :delete

