.UP__contents__right
  .UP__contents__right__logout
    %form.UP__contents__right__logout__inner{action: "#", method: "#", novalidate: "novalidate"}
      .UP__contents__right__logout__inner__content
        %button.UP__contents__right__logout__inner__content__btn.btn-red{type: "submit"} ログアウト
        -# %input{:name => "__csrf_value", :type => "hidden", :value => "588542794eea063de00a3295bfe356863641722a250757ee815522184d81d7222d1bd6772e160a758ae10ce9c4bae1d02a168d2b6f42721f19c0e5b3611403acd"}/
