.UP__contents__right
  %section.mypage-user-icon
  %a{:href => "https://www.mercari.com/jp/u/100662577/"}
    %figure
      %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
    %h2.bold 古都璃
    .mypage-number
      %div
        評価
        %span.bold 9
      %div
        出品数
        %span.bold 2
