%header.sell-page__header
  %h1
    %a.sell-page__header__logo{href: "/"}
      = image_tag("fmarket_logo_red.svg", height: "49", width: "185", alt: "Fmarket")
      -# %img{alt: "Fmarket", src: "/assets/fmarket_logo_red.png", height: "49", width: "185"}

