.breadcrumbs {
  background-color: #ffffff;
  a:link { color: #333333; }
  a:visited { color: #333333;}
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
}



