.tp-element__header{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  .header__content{
    width: 700px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    .content__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .content-top__campanylogo{
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
        .campanylogo--image{
          height: 36px;
          width: 134px;
        }
      }
      .content-top__seachform{
        position: relative;
        width: 100%;
        .searchformelement{
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          position: relative;
          width: 100%;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
        .search-btn{
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 40px;
          -webkit-appearance: none;
          border-width: initial;
          border-style: none;
          border-color: initial;
          border-image: initial;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
        }
      }
    }
    .content__bottom{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;
      .content-bottom__tag{
        display: flex;
        margin-left: -3px;
        cursor: pointer;
        height: 44px;
        position: relative;
        z-index: 3;
        padding: 0px 10px;
      } 
      .content-bottom__list{
        display: flex;
        position: relative;
        .list__likehistory{
          height: 44px;
          position: relative;
          display: none;
          padding: 0px 7px 0px 0px;
          .likehistory__element{
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
          }
        }
        .list__notification{
          height: 44px;
          position: relative;
          display: none;
          padding: 0px 7px 0px 0px;
          .notification__element{
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
          }
        }
        .list__todo{
          height: 44px;
          position: relative;
          display: none;
          padding: 0px 7px 0px 0px;
          .todo__element{
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
          }
        }
        .list__mypage{
          height: 44px;
          position: relative;
          display: none;
          padding: 0px 7px 0px 0px;
          .mypage__element{
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            }
          }
        }
      }
    }    
  }
}