body{
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}

h3{
  font-size: 22px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.bold{
  font-weight: 600;
}

.form-arbitrary {
  background: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.icon-arrow-right{
  position: absolute;
  top: 50%;
  right: 16px;
  color: #ccc;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

input[type="radio"] {
  display: none;
}

.UP{
  &__contents{
    display: flex;
    margin: 0 auto 0;
    width: 1020px;
    &__left{
      width: 280px;
      margin: 20px 40px 0 0;
      &__nav{
        &__head{
          margin: 40px 0 0;
        }
        
        &__list{
          border: 0;
          &__item{
            border-top: 1px solid #eee;
            position: relative;
            display: block;
            padding: 16px;
            background: #fff;
            font-size: 15px;
            color: #333;
          }
        }
      }
    }
  
    &__right{
      width: 700px;
      margin-top: 33px;

      &__edit{
        margin: 0;
        background: #fff;
        &__head{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
        }
        &__profile{
          padding: 72px 16px 24px;
          background: olivedrab;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          font-size: 0;
          figure{
            display: inline-block;
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            vertical-align: middle;
          }
          input{
            width: 220px;
            margin: 0 0 0 8px;
            vertical-align: middle;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__content{
          padding: 40px 16px;
          &__textarea{
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 216px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 0;
            outline: 0;
            -webkit-appearance: none;
          }
          &__btn{
            margin: 16px 0 0;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;

          }
        }
      }
    

      &__logout{
        margin: 0;
        background: #fff;
        &__inner{
          padding: 64px;
          border-top: 1px solid #f5f5f5;
          &__content{
            max-width: 320px;
            margin: 0 auto;
            &__btn{
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }

      &__icon{
        height: 200px;
        position: relative;
        margin-top: 15px;
        padding: 20px;
        background: olivedrab;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        &__box{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;
          &__name{
            margin: 8px 0 0;
            font-size: 14px;
          }

          &__number{
            margin: 8px 0 0;
            display: inline-block;
            font-size: 14px;
            display: flex; justify-content: center;
            div{
              display: inline-block;
              font-size: 14px;
              margin: 0 0 0 16px;
              span{
                margin: 0 0 0 8px;
                font-size: 16px;
              }
            }
          }
        }
      }

      
      &__tab{
        margin: 0;
        background: #fff;
        &__titel{
          display: inline-block;
          text-align: center;
          vertical-align: top;
          border: 0;
          background: #eee;
          font-size: 0;
          display: flex;
          label {
            width: 50%;
            color: #333;
            background: #ddd;
            text-align: center;
            font-size: 16px;
            line-height: 72px;
            cursor: pointer;
            transition: ease 0.2s opacity;
          }
        }

        &__board{
          &__message{
            width: 100%;
            padding: 80px 0;
            display: none;
            p {
              font-size: 16px;
              letter-spacing: 1px;
              text-align: center;
            }

          }
        }
      }

      &__BuyGoods{
        margin: 40px 0 0;
        background: #fff;
        h2{
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
        }
        
        &__tab{
          margin: 0;
          background: #fff;
          &__titel{
            display: inline-block;
            text-align: center;
            vertical-align: top;
            border: 0;
            background: #eee;
            font-size: 0;
            display: flex;
            label {
              width: 50%;
              color: #333;
              background: #ddd;
              text-align: center;
              font-size: 16px;
              line-height: 72px;
              cursor: pointer;
              transition: ease 0.2s opacity;
            }
          }
        
          &__board{
            &__message{
              width: 100%;
              padding: 80px 0;
              display: none;
              p {
                font-size: 16px;
                letter-spacing: 1px;
                text-align: center;
              }
            }
          }
        }
      }

      &__identification{
        background: #fff;
        &__head{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
        }
        &__single{
          padding: 64px;
          border-top: 1px solid #f5f5f5;
          div{
            p{
              margin: 8px 0 0;
              line-height: 1.5;
            }
          }
          &__text{
            text-align: right;
          }

          &__group{
            margin: 40px 0 0;
            label{
              font-weight: 600;
              display: inline-block;
              touch-action: manipulation;
              cursor: default;
            }
            &__input{
              width: 95%;
              margin: 8px 0 0;
              height: 28px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              min-height: 1.5em;
            }
            &__select{
              margin: 8px 0 0;
              position: relative;
              background: #fff;
              &__box{
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
            }
          }
          &__btn{
            margin: 40px 0 0 0;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}



#tab1:checked ~ {
  .UP__contents__right__tab__titel .UP__contents__right__tab__titel__label1 {
    background: #fff;
    color: #000;
    border-top: 2px solid #ea352d;
  }

  .UP__contents__right__tab__board #panel1 {
    display: block;
  }
}

#tab2:checked ~ {
  .UP__contents__right__tab__titel .UP__contents__right__tab__titel__label2 {
    background: #fff;
    color: #000;
    border-top: 2px solid #ea352d;
  }

  .UP__contents__right__tab__board #panel2 {
    display: block;
  }
}

#tab3:checked ~ {
  .UP__contents__right__BuyGoods__tab__titel .UP__contents__right__BuyGoods__tab__titel__label3 {
    background: #fff;
    color: #000;
    border-top: 2px solid #ea352d;
  }

  .UP__contents__right__BuyGoods__tab__board #panel3 {
    display: block;
  }
}

#tab4:checked ~ {
  .UP__contents__right__BuyGoods__tab__titel .UP__contents__right__BuyGoods__tab__titel__label4 {
    background: #fff;
    color: #000;
    border-top: 2px solid #ea352d;
  }

  .UP__contents__right__BuyGoods__tab__board #panel4 {
    display: block;
  }
}
