* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}



