.tp-element__main{
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
 
  position: relative;
  .main__advertising{
    height: 390px;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    top: 0px;
    width: 1280px;
    overflow: hidden;
    .main-content__ad{
      position: relative;
      background-size: cover;
      background-image: url(＃);
      background-position: center center;
    }
  
    .item-tag{
      background-color: rgb(255, 255, 255);
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      padding: 40px 20px 20px;
      .tagstyle-a{
        margin-bottom: 16px;
        text-align: center;
        .popularcategory__list-a{
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          .category-list-a{
            display: block;
            text-align: center;
            width: 100%;
            margin: -10px 0px 0px -10px;
            .category-name-b{
              background-color: rgb(239, 239, 239);
              cursor: pointer;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              border-radius: 15px;
              padding: 8px 16px;
            }
          }
        }
      }
    }
    .item-list-a{
      padding: 42px 0px 100px;
      .item-scloll-a{
        margin-bottom: 16px;
      }
      .item-scloll-b{
        align-items: flex-end;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }
    }
  }
}