.se_main {
  height: 384px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  &__container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &__title {
      font-size: 22px;
      padding: 32px;
      border-bottom: solid 1px rgb(245, 245, 245);
    }
    &__box {
      padding: 40px 40px 64px;
      &__content {
        width: 343px;
        margin: 0 auto;
        .btn-default {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          border-radius: 4px;
          position: relative;
        }
        #facebook-login {
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
          position: relative;
          .fa-facebook-square {  
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            top: 50%;
            left: 16px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 26px;
          }
        }
        #google-login {
          margin: 16px 0 0;
          background: #fff url(app/assets/images/icons8-google.svg) no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          position: relative;
          .google-logo-svg {
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            top: 50%;
            left: 16px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 26px;
            width: 26px;
            height: 26px;
          }
        }
        .btn-mail {
          color: #ffffff;
          background-color: #ea352d;
        }
        .facebook-link {
          color: #ffffff;
        }
        .google-link {
          color: #333;
        }
        .fa-envelope-o::before {
          display: inline-block;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          top: 50%;
          left: 16px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          font-size: 26px;
        }
      }
    }
  }
}