.TP{
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
    z-index: 3;
    &__content{
      width: 1020px;
      margin: 0px auto;
      padding: 8px 0px 0px;
      &__top{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        &__campany{
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          height: 40px;
          margin-right: 45px;
          &__log{
            height: 36px;
            width: 134px;
          }
        }
        &__search{
          position: relative;
          width: 100%;
          &__form{
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            line-height: 1.4em;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0px 50px 0px 10px;
            transition: all 0.3s ease-out 0s;
            &__btn{
              background-color: transparent;
              cursor: pointer;
              height: 40px;
              position: absolute;
              right: 0px;
              top: 0px;
              width: 40px;
              -webkit-appearance: none;
              border-width: initial;
              border-style: none;
              border-color: initial;
              border-image: initial;
              border-radius: 0px 4px 4px 0px;
              padding: 0px;
            }
          }
        }
      }

      &__bottom{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 8px;
        &__tag{
          display: flex;
          margin-left: -3px;
          cursor: pointer;
          height: 44px;
          position: relative;
          z-index: 3;
          padding: 0px 10px;
          &__list{
            padding-left: 0px;
            cursor: pointer;
            height: 44px;
            position: relative;
            z-index: 3;
            padding: 0px 10px;
            &__element{
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              white-space: nowrap;
            }
          }
        }
        
        &__list{
          display: flex;
          position: relative;
          &__likehistory{
            height: 44px;
            position: relative;
            padding: 0 14px;
            &__element{
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
            }
          }
          &__notification{
            height: 44px;
            position: relative;
            padding: 0 14px;
            &__element{
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
            }
          }
          &__todo{
            height: 44px;
            position: relative;
            padding: 0 14px;
            &__element{
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
            }
          }
          &__mypage{
            height: 44px;
            position: relative;
            padding: 0 14px;
            &__element{
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
            }
          }
        }
      }
    }
  }
}