.su_header
  %h3
    %a(href="#")
    = embedded_svg("fmarket_logo_red.svg", class: "top-logo-svg") 
  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.active
        会員情報
        .place.t_place
      %li.not_active
        電話番号認証
        .place
      %li.not_active
        お届け先住所入力
        .place
      %li.not_active
        支払い方法
        .place
      %li.not_active
        完了
        .place.e_place

.ph_main
  